
<h1>Blog</h1>    
<br><br> 
<ul>
  {% for post in postslist %}
    <li>
    
      <h2>
        <a class="not-bold" href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <p class="date"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p
      <span class="tags"><a href="/tags/{{tag}}">{{ post.data.tag }}</a></span>
    </li>

  {% endfor %}
</ul>


