---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<p class="date">{{ date | readableDate }}</p>
<p>{{ tags }}</p>
<br><br>
<p>{{ content | safe }}</p>
<br><br>
<img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
<br><br><br><br>
