---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>
<p class="extra">{{ date | readableDate }}</p>
{% set comma = joiner() %}
{% for tag in tags -%}
  {% if tag !== 'posts' %}
    {{ comma() }} <span class="tags"><a class="bold" href="/tags/{{tag}}">{{ tag }}</a></span>
  {% endif %}
{%- endfor %}
<br><br>
<p class="extra-top">{{ content | safe }}</p>
<br><br>
